<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #f7f7f7;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <img src="/t-rex.png">
    <em>This is from t-rex</em>
</body>
</html>
